<div class="divider"></div>

  <div class="row">
      <h3><%= @game_streams.game_name %></h3>
   
  </div>

<div class="divider"></div><br>

<div class="row">
  <% @game_streams.streams.each do |stream| %>
    <div class="col s3">
      <a href="<%= streamer_path(stream.streamer_id) %>#stream"><img src="<%= stream.preview %>" alt="Stream preview"><br>
        <%= stream.stream_name %><br></a>
      <%= stream.viewers %> viewers on <a href="<%= streamer_path(stream.streamer_id) %>"><%= stream.streamer_name %></a>
    </div>
  <% end %>
</div>

<%= render partial: 'chatrooms/show' %>
