<img src="<%= @streamer.banner_picture %>" alt="Profile Cover Picture" width="100%">

<div class="streamers_tb toolbar">
  <div class="navbar">
     <nav>
       <div class="nav-wrapper">
        <div class="row">
          <ul class="left hide-on-med-and-down">
            <li class="col s2 push-s1">
              <img src="<%= @streamer.profile_pic %>" alt="Profile Picture" height="47px" width="47px">
            </li>
            <li class="col s4 push-s5">
              <p id="streamer-name"><strong><%= @streamer.name %></strong></p>
            </li>
            <li class="col s1">
              <i class="material-icons right">verified_user</i>
            </li>
          </ul>
          <ul class="right hide-on-med-and-down">
            <li>
              <i class="material-icons left">favorite</i>
              Followers: <strong><%= @streamer.followers %></strong>
            </li>
            <% if current_user %>
              <li>
                <a class="waves-effect waves-light btn" id="follow-button" href="<%= edit_follow_path(@streamer.channel_name) %>" data-remote="true"><i class="material-icons left" id="follow-icon">favorite_border</i>Follow</a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>

<div id="stream">
  <div class="row">
    <div class="col s9">
      <iframe
        src="http://player.twitch.tv/?channel=<%= @streamer.channel_name %>"
        width="100%"
        height="720px"
        frameborder="0"
        scrolling="no"
        allowfullscreen="true">
      </iframe>
    </div>
    <div class="col s3">
      <iframe
        frameborder="0"
        scrolling="no"
        id="chat_embed"
        src="http://www.twitch.tv/<%= @streamer.channel_name %>/chat"
        height="500px"
        width="100%">
      </iframe>
      <%= render "api_result" %>
    </div>
  </div>

  <div class="row stream_info">
    <div class="col s1">
      <img class="game-thumbnail" src="https://static-cdn.jtvnw.net/ttv-boxart/<%= @streamer.game_name %>-138x190.jpg" alt="Game Thumbnail" width="75%">
    </div>
    <div class="col s4">
      <p id="stream-name"><%= @streamer.stream_name %></p>
      <i class="material-icons left">games</i>
      <p class="game-name">
        <%= link_to @streamer.game_name, game_path(@streamer.game_name) %>
      </p>
    </div>
    <div id="watching-now" class="col s2">
      <i class="material-icons left">remove_red_eye</i>
      Watching Now: <%= @streamer.watching_now %>
    </div>
    <div id="total-views" class="col s2">
      <i class="material-icons left">person</i>
      Total Views: <%= @streamer.total_views %>
    </div>
  </div>
</div>
<div class="divider"></div>
